<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rander</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #ffffff; /* 흰색 배경 */
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
			}

			img {
				max-width: 50%;
				max-height: 50%;
			}
		</style>
		<script>
			setTimeout(() => {
				window.location.href = "/";
			}, 3000);
		</script>
	</head>
	<body>
		<img src="/static/img/rander-logo.png" />
	</body>
</html>
